/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: center;
  background-color: #444;
}

nav a {
  color: #fff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #555;
}

/* Main Content Styles */
main {
  padding: 20px;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
/* Centrar los títulos */
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}

/* Enmarcar los párrafos en un rectángulo con borde gris oscuro */
p {
  border: 2px solid #333; /* Borde gris oscuro */
  padding: 10px; /* Espacio interno */
  margin: 20px; /* Espacio externo */
  border-radius: 5px; /* Bordes redondeados (opcional) */
}
/* Centrar las imágenes */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Estilizar el botón */
button {
  display: block;
  margin: 20px auto; /* Centrar el botón */
  padding: 15px 30px; /* Hacer el botón más grande */
  font-size: 16px; /* Aumentar el tamaño del texto */
  background-color: #4caf50; /* Color de fondo verde */
  color: yellow; /* Color del texto amarillo */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

/* Cambiar el color de fondo al pasar el cursor sobre el botón */
button:hover {
  background-color: #45a049;
}
